version: '3.9'

services:
    mongo:
        image: mongo:6
        container_name: mongo
        restart: always
        ports:
            - "27017:27017"

    backend: 
        build: ./server
        container_name: backend
        restart: always
        ports:
          - "5000:5000"
        env_file:
            - ./server/.env
        depends_on:
            - mongo
    
    frontend:
        build: ./client
        container_name: frontend
        restart: always
        ports:
          - "3000:3000"
        depends_on:
            - backend